<div class="card bg-gradient-white shadow">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-muted ls-1 mb-1">Per assignee</h6>
        <h2 class="text-dark mb-0">issues Done</h2>
      </div>
    
    </div>
  </div>
  <div class="card-body">
    <!-- Chart -->
<div id="chart">
  
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [responsive]="chartOptions.responsive"
      [xaxis]="chartOptions.xaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
    ></apx-chart>
</div>

</div>
  